.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  outline: 2px solid #f1f1f2;
  width: 20px;
  text-align: center;
  color: #f9423a;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: 2px solid #f1f1f2;
  border: none;
}
